<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New User Contact</title>
</head>
<body>
    <h1 style="color:#df9d4f !important">New user Contacted from Adar Poonawala Green City Initiative Website...</h1>
    <p><b>Name:</b> {{ name }}</p>
    <p><b>Email:</b> {{ email }}</p>
    <p><b>Phone Number:</b> {{ phonenumber }}</p>
    <p><b>Query:</b> {{ Query }}</p>
    <h2 style="color:#df9d4f !important">Thanks Regards,</h2>
    <h2 style="color:#df9d4f !important">www.apcleancityinitiativevolunteer.com</h2>
</body>
</html>